<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>
    {{>navbar}}


    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/bg2.jpg" alt="Dheeraj" class="img-fluid" title="dheeraj">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>Get the latest <span class="text-clr">Weather</span> Info Of Your City</h1>
                        <a href="/weather"> <button >Check Now</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code  -->
    {{>footer}}
</body>

</html>